.popup{
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.container {
    width: 400px;
    height: 400px;
    position: fixed;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  
  .btn {
    width: 180px;
  height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #4F95DA;
    outline: none;
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #58a9fa;
    color: rgb(255, 255, 255);
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

p1{
    color: white;
}
